.App {
  max-width: 100%;
  margin: 0 auto;
}

.App-header {
  min-width: 15%;
}

.App-logo {
  height: 15vmin;
  border-radius: 10% 50%;
  pointer-events: none;
  width: 23vmin;
  margin: 10px;
  position: relative;
  left: 3em;
  border: 2px solid #2fd295;
  padding: 7px;
  background-color: white;
}

.App-tabs {
  display: flex;
  padding: 10vmin;
  justify-content: center;
  width: 30%;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #291e57;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 8px 8px rgb(44 44 69);
}

a.selected {
  background-color: purple;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 7px 12px;
  color: white;
  margin: 0 10px;
  border-radius: 4px;
}

a {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 7px 12px;
  color: purple;
  margin: 0 10px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgb(117, 57, 140);
}

.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 20%;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 70%;
  position: relative;
  margin-bottom: 10%;
  margin: 0 auto 20px;
}

ul.favList {
  display: block;
}

li {
  display: flex;
  flex-direction: rownp;
}

p {
  font-family: 'Neucha', cursive;
  text-transform: uppercase;
  font-size: 1.5em;
}

.planet-card {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 5vmin;
}

.planet-info {
  flex-grow: 2;
}

.favorite-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-text {
  font-size: 0.5em;
}

.starIcon {
  font-size: 1.8em;
  color: rgb(255, 177, 31);
}

li {
  border: 2px solid purple;
  margin: 12px;
  border-radius: 18px 0 18px 0;
}

.fav-card {
  padding: 10px;
  font-family: 'Neucha', cursive;
  font-size: 1.5em;
  margin: 2vmin;
}

.favLiItem {
  text-align: center;
  display: block;
}

@media (max-width: 780px) {
  .App {
    display: block;
    max-width: 100%;
  }
  .App-header {
    display: flex;
    z-index: 10;
    align-items: center;
    min-width: 48%;
  }
  .App-tabs {
    display: flex;
    padding: 2vmin 6vmin;
    flex-direction: column;
    min-width: 35%;
  }
  .App-logo {
    position: relative;
    left: 1em;
  }
  ul {
    display: flex;
    flex-direction: column;
    max-width: 82%;
    margin: 0 auto;
    padding: 0;
  }
  nav {
    display: flex;
    flex-direction: row;
    background-color: #291e57;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 8px 8px rgb(44 44 69);
  }
  a, a.selected {
    margin: 6px 0;
    text-align: center;
  }
  .fav-card {
    padding: 7px;
    font-family: 'Neucha', cursive;
    font-size: 1.5em;
    margin: 1vmin;
  }
}